In [2]:
import pymongo

In [3]:
con = pymongo.MongoClient("mongodb://193.51.82.104:2343/")

In [4]:
con.database_names()

['admin', 'gym', 'horodateurs', 'local', 'test', 'vlsstat', 'world']

In [5]:
db = con.gym

In [6]:
db.collection_names()

['Sportifs', 'Gymnases']

In [7]:
db.Sportifs.count()

150

In [8]:
db.Gymnases.count()

28

In [9]:
db.Sportifs.find_one()

{'Age': 30,
 'IdSportif': 1,
 'Nom': 'BOUTAHAR',
 'Prenom': 'Abderahim',
 'Sexe': 'm',
 'Sports': {'Arbitrer': ['Basket ball', 'Volley ball', 'Hockey'],
  'Entrainer': ['Basket ball',
   'Volley ball',
   'Hand ball',
   'Hockey',
   'Badmington'],
  'Jouer': ['Volley ball', 'Tennis', 'Football']},
 '_id': '566eec5f662b388eba464203'}

In [30]:
db.Gymnases.find_one()

{'Adresse': '2 rue des p√©pines',
 'IdGymnase': 1,
 'NomGymnase': 'PAUL ELUARD',
 'Seances': [{'Duree': 60,
   'Horaire': 9.0,
   'IdSportifEntraineur': 149,
   'Jour': 'Samedi',
   'Libelle': 'Basket ball'},
  {'Duree': 60,
   'Horaire': 9.0,
   'IdSportifEntraineur': 1,
   'Jour': 'Lundi',
   'Libelle': 'Hand ball'},
  {'Duree': 60,
   'Horaire': 10.0,
   'IdSportifEntraineur': 1,
   'Jour': 'Lundi',
   'Libelle': 'Hand ball'},
  {'Duree': 60,
   'Horaire': 11.3,
   'IdSportifEntraineur': 1,
   'Jour': 'Lundi',
   'Libelle': 'Hand ball'},
  {'Duree': 90,
   'Horaire': 14.0,
   'IdSportifEntraineur': 1,
   'Jour': 'Lundi',
   'Libelle': 'Hand ball'},
  {'Duree': 120,
   'Horaire': 17.3,
   'IdSportifEntraineur': 1,
   'Jour': 'lundi',
   'Libelle': 'Hand ball'},
  {'Duree': 120,
   'Horaire': 19.3,
   'IdSportifEntraineur': 1,
   'Jour': 'Lundi',
   'Libelle': 'Hand ball'},
  {'Duree': 120,
   'Horaire': 17.3,
   'IdSportifEntraineur': 2,
   'Jour': 'Dimanche',
   'Libelle': 'Hand ball'},
  {'Duree': 120,
   'Horaire': 19.3,
   'IdSportifEntraineur': 2,
   'Jour': 'Dimanche',
   'Libelle': 'Hand ball'},
  {'Duree': 120,
   'Horaire': 17.3,
   'IdSportifEntraineur': 2,
   'Jour': 'mardi',
   'Libelle': 'Hand ball'},
  {'Duree': 120,
   'Horaire': 17.3,
   'IdSportifEntraineur': 2,
   'Jour': 'mercredi',
   'Libelle': 'Hand ball'},
  {'Duree': 60,
   'Horaire': 15.3,
   'IdSportifEntraineur': 2,
   'Jour': 'Samedi',
   'Libelle': 'Hand ball'},
  {'Duree': 60,
   'Horaire': 16.3,
   'IdSportifEntraineur': 2,
   'Jour': 'Samedi',
   'Libelle': 'Hand ball'},
  {'Duree': 120,
   'Horaire': 17.3,
   'IdSportifEntraineur': 2,
   'Jour': 'Samedi',
   'Libelle': 'Hand ball'},
  {'Duree': 30,
   'Horaire': 20.0,
   'IdSportifEntraineur': 3,
   'Jour': 'jeudi',
   'Libelle': 'Hand ball'},
  {'Duree': 60,
   'Horaire': 14.0,
   'IdSportifEntraineur': 3,
   'Jour': 'lundi',
   'Libelle': 'Hand ball'},
  {'Duree': 30,
   'Horaire': 18.0,
   'IdSportifEntraineur': 3,
   'Jour': 'lundi',
   'Libelle': 'Hand ball'},
  {'Duree': 30,
   'Horaire': 19.0,
   'IdSportifEntraineur': 3,
   'Jour': 'lundi',
   'Libelle': 'Hand ball'},
  {'Duree': 30,
   'Horaire': 20.0,
   'IdSportifEntraineur': 3,
   'Jour': 'lundi',
   'Libelle': 'Hand ball'},
  {'Duree': 90,
   'Horaire': 17.0,
   'IdSportifEntraineur': 7,
   'Jour': 'mercredi',
   'Libelle': 'Hockey'}],
 'Surface': 200,
 'Ville': 'STAINS',
 '_id': '566eec69662b388eba464299'}

In [20]:
sp.distinct("Sexe")

['m', 'M', 'F']

In [21]:
sp.distinct("Sports.Jouer")

['Football',
 'Tennis',
 'Volley ball',
 'Basket ball',
 'Ping pong',
 'Badmington',
 'Hand ball']

In [24]:
db.Gymnases.distinct("Ville")

['STAINS',
 'MONTMORENCY',
 'PIERREFITTE',
 'SARCELLES',
 'SAINT DENIS',
 'VILLETANEUSE',
 'GARGES']

In [25]:
db.Gymnases.distinct("Surface")

[200, 450, 400, 500, 620, 360, 420, 300, 480, 600, 520, 350]

In [26]:
db.Gymnases.distinct("Seances.Libelle")

['Basket ball', 'Hand ball', 'Hockey', 'Volley ball']

In [27]:
db.Gymnases.distinct("Seances.Jour")

['Dimanche',
 'Lundi',
 'Samedi',
 'jeudi',
 'lundi',
 'mardi',
 'mercredi',
 'dimanche',
 'Mercredi',
 'Vendredi',
 'vendredi',
 'samedi',
 'Mardi',
 'Jeudi']

In [33]:
import pprint
pprint.pprint(db.Sportifs.find_one())

{'Age': 30,
 'IdSportif': 1,
 'Nom': 'BOUTAHAR',
 'Prenom': 'Abderahim',
 'Sexe': 'm',
 'Sports': {'Arbitrer': ['Basket ball', 'Volley ball', 'Hockey'],
            'Entrainer': ['Basket ball',
                          'Volley ball',
                          'Hand ball',
                          'Hockey',
                          'Badmington'],
            'Jouer': ['Volley ball', 'Tennis', 'Football']},
 '_id': '566eec5f662b388eba464203'}

In [44]:
res = db.Sportifs.find({ "Nom": "KERVADEC" })
print(res)

<pymongo.cursor.Cursor object at 0x103b60320>

In [45]:
print(res.count())

1

In [46]:
for r in res:
    pprint.pprint(r)

{'Age': 28,
 'IdSportif': 2,
 'IdSportifConseiller': 1,
 'Nom': 'KERVADEC',
 'Prenom': 'Yann',
 'Sexe': 'M',
 'Sports': {'Arbitrer': ['Hockey', 'Football'],
            'Entrainer': ['Basket ball',
                          'Volley ball',
                          'Hand ball',
                          'Tennis',
                          'Hockey',
                          'Badmington',
                          'Ping pong',
                          'Boxe'],
            'Jouer': ['Basket ball', 'Volley ball', 'Ping pong', 'Football']},
 '_id': '566eec5f662b388eba464204'}

In [53]:
res = db.Sportifs.find({ "Nom": "KERVADEC" })
pprint.pprint(list(res))

[{'Age': 28,
  'IdSportif': 2,
  'IdSportifConseiller': 1,
  'Nom': 'KERVADEC',
  'Prenom': 'Yann',
  'Sexe': 'M',
  'Sports': {'Arbitrer': ['Hockey', 'Football'],
             'Entrainer': ['Basket ball',
                           'Volley ball',
                           'Hand ball',
                           'Tennis',
                           'Hockey',
                           'Badmington',
                           'Ping pong',
                           'Boxe'],
             'Jouer': ['Basket ball', 'Volley ball', 'Ping pong', 'Football']},
  '_id': '566eec5f662b388eba464204'}]

In [77]:
def affiche(res):
    pprint.pprint(list(res))

In [78]:
res = db.Sportifs.find({ "Nom": "KERVADEC" }, { "_id": 0, "Nom": 1 })
affiche(res)

[{'Nom': 'KERVADEC'}]

In [80]:
res = db.Sportifs.find({ "Age": { "$gte": 32 } }, { "_id": 0, "Nom": 1, "Age": 1 })
affiche(res)

[{'Age': 32, 'Nom': 'DORLEANS'},
 {'Age': 40, 'Nom': 'RABAHI'},
 {'Age': 32, 'Nom': 'TIZEGHAT'},
 {'Age': 32, 'Nom': 'BAZOUD'},
 {'Age': 39, 'Nom': 'SARRAZIN'},
 {'Age': 40, 'Nom': 'HOUEL'},
 {'Age': 36, 'Nom': 'LEROUX'},
 {'Age': 32, 'Nom': 'BONE'}]

In [81]:
criteres = { "Sports.Jouer" : "Basket ball", "Sexe" : "F" }
sortie = { "_id": 0, "Nom": 1, "Sexe": 1, "Sports.Jouer": 1}
res = db.Sportifs.find(criteres, sortie)
affiche(res)

[{'Nom': 'COMES',
  'Sexe': 'F',
  'Sports': {'Jouer': ['Basket ball',
                       'Volley ball',
                       'Badmington',
                       'Ping pong']}},
 {'Nom': 'RETALDI',
  'Sexe': 'F',
  'Sports': {'Jouer': ['Basket ball',
                       'Volley ball',
                       'Hand ball',
                       'Ping pong']}},
 {'Nom': 'CAILLIOT',
  'Sexe': 'F',
  'Sports': {'Jouer': ['Basket ball', 'Volley ball', 'Ping pong']}},
 {'Nom': 'LEJEUNE',
  'Sexe': 'F',
  'Sports': {'Jouer': ['Basket ball',
                       'Volley ball',
                       'Badmington',
                       'Ping pong']}},
 {'Nom': 'HEDDI',
  'Sexe': 'F',
  'Sports': {'Jouer': ['Basket ball', 'Badmington', 'Ping pong']}},
 {'Nom': 'JOUVE',
  'Sexe': 'F',
  'Sports': {'Jouer': ['Basket ball', 'Ping pong']}},
 {'Nom': 'GUERRAOUI',
  'Sexe': 'F',
  'Sports': {'Jouer': ['Basket ball', 'Ping pong']}},
 {'Nom': 'CLERICE',
  'Sexe': 'F',
  'Sports': {'Jouer': ['Basket ball', 'Badmington', 'Ping pong']}},
 {'Nom': 'MARIE',
  'Sexe': 'F',
  'Sports': {'Jouer': ['Basket ball', 'Hand ball', 'Ping pong']}},
 {'Nom': 'BELZ', 'Sexe': 'F', 'Sports': {'Jouer': 'Basket ball'}}]

In [86]:
res = db.Sportifs.find({ "Age": { "$gte": 32} }, { "_id": 0, "Nom": 1, "Age": 1 })

res = res.sort([ ("Age", pymongo.DESCENDING), ("Nom", pymongo.ASCENDING) ])

affiche(res)

[{'Age': 40, 'Nom': 'HOUEL'},
 {'Age': 40, 'Nom': 'RABAHI'},
 {'Age': 39, 'Nom': 'SARRAZIN'},
 {'Age': 36, 'Nom': 'LEROUX'},
 {'Age': 32, 'Nom': 'BAZOUD'},
 {'Age': 32, 'Nom': 'BONE'},
 {'Age': 32, 'Nom': 'DORLEANS'},
 {'Age': 32, 'Nom': 'TIZEGHAT'}]

In [92]:
res = db.Gymnases.aggregate([ 
    { "$group": { "_id": "Total", "nb": { "$sum": 1 }, "surfmoy": { "$avg": "$Surface" }}}
])
affiche(res)

[{'_id': 'Total', 'nb': 28, 'surfmoy': 444.2857142857143}]

In [93]:
res = db.Gymnases.aggregate([ 
    { "$group": { 
        "_id": "$Ville", 
        "nb": { "$sum": 1 }, 
        "surfaceTotale": { "$sum": "$Surface" },
        "surfaceMoyenne": { "$avg": "$Surface" },
        "surfaceMinimum": { "$min": "$Surface" },
        "surfaceMaximum": { "$max": "$Surface" }
    }}
])
affiche(res)

[{'_id': 'SAINT DENIS',
  'nb': 3,
  'surfaceMaximum': 520,
  'surfaceMinimum': 450,
  'surfaceMoyenne': 490.0,
  'surfaceTotale': 1470},
 {'_id': 'STAINS',
  'nb': 6,
  'surfaceMaximum': 400,
  'surfaceMinimum': 200,
  'surfaceMoyenne': 333.3333333333333,
  'surfaceTotale': 2000},
 {'_id': 'MONTMORENCY',
  'nb': 5,
  'surfaceMaximum': 500,
  'surfaceMinimum': 420,
  'surfaceMoyenne': 470.0,
  'surfaceTotale': 2350},
 {'_id': 'GARGES',
  'nb': 1,
  'surfaceMaximum': 400,
  'surfaceMinimum': 400,
  'surfaceMoyenne': 400.0,
  'surfaceTotale': 400},
 {'_id': 'VILLETANEUSE',
  'nb': 3,
  'surfaceMaximum': 620,
  'surfaceMinimum': 350,
  'surfaceMoyenne': 523.3333333333334,
  'surfaceTotale': 1570},
 {'_id': 'PIERREFITTE',
  'nb': 5,
  'surfaceMaximum': 450,
  'surfaceMinimum': 300,
  'surfaceMoyenne': 382.0,
  'surfaceTotale': 1910},
 {'_id': 'SARCELLES',
  'nb': 5,
  'surfaceMaximum': 620,
  'surfaceMinimum': 400,
  'surfaceMoyenne': 548.0,
  'surfaceTotale': 2740}]

In [95]:
res = db.Gymnases.aggregate([
    { "$unwind": "$Seances" }, 
    { "$project": { "Jour": { "$toLower": "$Seances.Jour" } }},
    { "$group": { "_id": "$Jour", "nb": { "$sum": 1 }} },
    { "$sort": { "nb": -1 }}
])
affiche(res)

[{'_id': 'lundi', 'nb': 23},
 {'_id': 'dimanche', 'nb': 17},
 {'_id': 'mercredi', 'nb': 13},
 {'_id': 'samedi', 'nb': 9},
 {'_id': 'mardi', 'nb': 8},
 {'_id': 'vendredi', 'nb': 6},
 {'_id': 'jeudi', 'nb': 6}]

In [96]:
import pandas

res = db.Sportifs.find()
df = pandas.DataFrame(list(res))

In [97]:
df.head()

,Age,IdSportif,IdSportifConseiller,Nom,Prenom,Sexe,Sports,_id
0,30,1,NaN,BOUTAHAR,Abderahim,m,"{'Jouer': ['Volley ball', 'Tennis', 'Football'...",566eec5f662b388eba464203
1,28,2,1.0,KERVADEC,Yann,M,"{'Jouer': ['Basket ball', 'Volley ball', 'Ping...",566eec5f662b388eba464204
2,25,3,1.0,HUE,Pascale,F,"{'Jouer': ['Volley ball', 'Ping pong'], 'Arbit...",566eec5f662b388eba464205
3,32,4,1.0,DORLEANS,Jean-michel,M,"{'Jouer': ['Volley ball', 'Football'], 'Arbitr...",566eec5f662b388eba464206
4,22,5,1.0,COMES,Sylvie,F,"{'Jouer': ['Basket ball', 'Volley ball', 'Badm...",566eec5f662b388eba464207

In [103]:
df0 = df.loc[0,:]

In [110]:
type(df0)

pandas.core.series.Series

In [105]:
df0.Sports

{'Arbitrer': ['Basket ball', 'Volley ball', 'Hockey'],
 'Entrainer': ['Basket ball',
  'Volley ball',
  'Hand ball',
  'Hockey',
  'Badmington'],
 'Jouer': ['Volley ball', 'Tennis', 'Football']}

In [108]:
df0.Sports["Jouer"]

['Volley ball', 'Tennis', 'Football']

In [109]:
type(df0.Sports)

dict

In [120]:
con.database_names()

['admin', 'gym', 'horodateurs', 'local', 'test', 'vlsstat', 'world']

In [122]:
horo = con.horodateurs
horo.collection_names()

['transactions_small', 'transactions', 'mobiliers']

In [123]:
horo.transactions.count()

24448030

In [124]:
horo.mobiliers.count()

7810

In [125]:
horo.transactions_small.count()

244480

In [126]:
trans = pandas.DataFrame(list(horo.transactions_small.find()))

In [127]:
import sys
sys.getsizeof(trans)

52178471

In [131]:
trans.values.nbytes / (1024 * 1024) # En Mo

16.787109375

In [132]:
# Estimation pour la totalit√©
trans.values.nbytes / (1024 * 1024) * (horo.transactions.count() / horo.transactions_small.count())

1678.7129974365234