# Stats avec `pandas` sous `python`

### Analyse de Données Massives - Master 1ère année

Nous allons utiliser dans ce TP le module [`pandas`](http://pandas.pydata.org) permettant l'analyse de données avec `Python`. La première instruction est de charger le module.

In [1]:
import pandas

## Données

Nous allons travailler sur les données [Iris](donnees/Iris.txt), contenant les informations de 150 iris, de 3 espèces différentes, décrits par la longueur et la largeur de leur sépale et de leur pétale. Voici comment lire ces données dans `python` avec `read_csv()` de `pandas`.

In [2]:
iris = pandas.read_csv("donnees/Iris.txt", header = 0, sep = ";", quotechar = "'")

Sur ces données, il est bien évidemment possible de voir quelques informations classiques.

In [6]:
type(iris)

pandas.core.frame.DataFrame

In [7]:
iris.shape

(150, 5)

In [8]:
iris.count()

Sepal.Length    150
Sepal.Width     150
Petal.Length    150
Petal.Width     150
Species         150
dtype: int64

In [10]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 0 to 149
Data columns (total 5 columns):
Sepal.Length    150 non-null float64
Sepal.Width     150 non-null float64
Petal.Length    150 non-null float64
Petal.Width     150 non-null float64
Species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [11]:
list(iris)

['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width', 'Species']

## Statistiques descriptives

Dans la suite, nous allons voir comment décrire les variables de notre jeu de données. 

### Univarié

#### Quantitative

La fonction `describe()` permet de décrire toutes les variables quantitatives d'un jeu de données directement.

In [12]:
iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000